@import "tailwindcss";

:root {
  --font-main-numbers: "Lexend Exa", sans-serif;
  --font-main-texts: "Figtree", sans-serif;

  font-family: "Outfit", system-ui, Avenir, Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  /* GRAYS */
  /* Backgrounds */
  --color-gray-1: #111113;
  --color-gray-2: #19191b;
  /* Interactive components */
  --color-gray-3: #222325;
  --color-gray-4: #292a2e;
  --color-gray-5: #303136;
  /* Borders and separators */
  --color-gray-6: #393a40;
  --color-gray-7: #46484f;
  --color-gray-8: #5f606a;
  /* Solid colors */
  --color-gray-9: #6c6e79;
  --color-gray-10: #797b86;
  /* Accessible text */
  --color-gray-11: #b2b3bd;
  --color-gray-12: #eeeef0;

  /* BLUES */
  /* Backgrounds */
  --color-blue-1: #0c111c;
  --color-blue-2: #111725;
  /* Interactive components */
  --color-blue-3: #172448;
  --color-blue-4: #1d2e61;
  --color-blue-5: #243974;
  /* Borders and separators */
  --color-blue-6: #2d4484;
  --color-blue-7: #375098;
  --color-blue-8: #405eb2;
  /* Solid colors */
  --color-blue-9: #3d63dd;
  --color-blue-10: #3f5cb0;
  /* Accessible text */
  --color-blue-11: #93b4ff;
  --color-blue-12: #d5e2ff;

  /* Semantic colors */
  --color-background: #111113;
  --color-surface: #19191b;
  --color-border: #303136;
  --color-text: #eeeef0;
  --color-text-muted: #b2b3bd;
}

body {
  @apply bg-background text-text;
}

/* Date picker icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

/* Date picker and number input styling */
input[type="date"],
input[type="number"] {
  color-scheme: dark;
}

/* Number input spinner */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.nr-100 {
  font-family: var(--font-main-numbers);
  font-weight: 100;
}
.nr-200 {
  font-family: var(--font-main-numbers);
  font-weight: 200;
}
.nr-300 {
  font-family: var(--font-main-numbers);
  font-weight: 300;
}
.nr-400 {
  font-family: var(--font-main-numbers);
  font-weight: 400;
}
.nr-500 {
  font-family: var(--font-main-numbers);
  font-weight: 500;
}
.nr-600 {
  font-family: var(--font-main-numbers);
  font-weight: 600;
}
.nr-700 {
  font-family: var(--font-main-numbers);
  font-weight: 700;
}
.nr-800 {
  font-family: var(--font-main-numbers);
  font-weight: 800;
}

.txt-300 {
  font-family: var(--font-main-texts);
  font-weight: 300;
}
.txt-400 {
  font-family: var(--font-main-texts);
  font-weight: 400;
}
.txt-500 {
  font-family: var(--font-main-texts);
  font-weight: 500;
}
.txt-600 {
  font-family: var(--font-main-texts);
  font-weight: 600;
}
.txt-700 {
  font-family: var(--font-main-texts);
  font-weight: 700;
}
.txt-800 {
  font-family: var(--font-main-texts);
  font-weight: 800;
}
.txt-900 {
  font-family: var(--font-main-texts);
  font-weight: 900;
}
